.body {
 min-width: 1000px;
 margin: 0px !important;
}

.header {
    background-color: #719688;
}

.center-alignment {
       margin: auto;
       width: 1000px;
}

.header h1 {
    color: #294115;
    padding-top: 20px;
    font-size: 45px;
    margin: 0px;
}

.header ul {
    margin: 0px;
}

.header ul li {
  float: left;
  list-style: none;
  padding: 10px;
  font-size: 15px;
}

.clearfix {
    clear: both;
}

.header ul li a {
  color: #D4E7DD;
  text-decoration: none;
}

.header ul li a:hover {
  color: white;
}

.content .pageContainer {
    background-color: #D4E7DD;
}

.content .pageContainer h3 {
 color: #294115;
 padding: 15px 0px 10px 70px;
}

.control-group .control-label {
  font-size: 16px;
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.control-group .controls {
    margin-left: 180px;
}

.control-group .controls input {
  height: 28;
  width: 220;
  padding: 0px 0px 0px 8px;
  border: none;
}

#identifier {
  border: 1px solid lightgrey;
}

.form-horizontal {
   margin: 0px;
}
.control-group .controls textarea {
  width: 220;
  height: 80px;
}

.control-group .controls button {
  font-size: 18px;
}

.footer {
 text-align: center;
 padding: 4px 0px 4px 0px;
}

.footer a {
   text-decoration: none;
   color:  #719688;
}